{:db-spec   {:dbtype   "postgresql"
             :dbname   "counter"
             :user     "market"
             :password "market"}
 :matcher    {:btcusdt "akka.tcp://matcher@192.168.50.22:25540/user/btcusdt"}
 :query-rate 60}